name: CI-CD Pipeline

on:
  push:
    branches: ["master"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Images
        run: |
          COMMIT_SHA=${{ github.sha }}

          echo "Building backend image..."
          docker build -t syedsulthanphp/backend_live:latest -t syedsulthanphp/backend_live:$COMMIT_SHA .

          echo "Building worker image..."
          docker build -t syedsulthanphp/worker_live:latest -t syedsulthanphp/worker_live:$COMMIT_SHA .

          echo "Building beat image..."
          docker build -t syedsulthanphp/beat_live:latest -t syedsulthanphp/beat_live:$COMMIT_SHA .

          echo "Pushing images to Docker Hub..."
          docker push syedsulthanphp/backend_live:latest || exit 1
          docker push syedsulthanphp/backend_live:$COMMIT_SHA || exit 1

          docker push syedsulthanphp/worker_live:latest || exit 1
          docker push syedsulthanphp/worker_live:$COMMIT_SHA || exit 1

          docker push syedsulthanphp/beat_live:latest || exit 1
          docker push syedsulthanphp/beat_live:$COMMIT_SHA || exit 1

  deploy_to_ec2:
    needs: build_and_push
    runs-on: ubuntu-latest
    steps:
      - name: Add SSH Key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy on EC2 via SSH
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            cd /home/ubuntu/LIVE

            echo "Pulling latest docker images..."
            docker-compose pull

            echo "Restarting services..."
            docker-compose down
            docker-compose up -d

            echo "Deployment Completed Successfully!"
          EOF
